<div class="side-bar left-col">
	<nav id="app-navbar" class="bg-dark navbar-dark h-100 pt-5">
		<a class="navbar-brand p-0 pl-5" href="/"><img class="mr-2" src="images/wallet.svg" /> Tinyblock</a>
		<ul class="navbar-nav nav nav-pills pl-5 pt-5 h-75" role="tablist">
			<li class="nav-item">
				<span class="closebtn" onclick="closeNav()">&times;</span>
			</li>
			<li class="nav-item">
				<a class="nav-link fw-200" href="#home"><span class="lnr lnr-home mr-2"></span>Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link fw-200"  data-toggle="modal" data-target="#send-money"><span class="lnr lnr-arrow-up-circle mr-2"></span>Send</a>
			</li>
			<li class="nav-item">
				<a class="nav-link fw-200"  data-toggle="modal" data-target="#receive-money"><span class="lnr lnr-arrow-down-circle mr-2"></span>Receive</a>
			</li>
			<li class="nav-item  mt-auto">
				<a class="nav-link fw-200" href="#"><span class="lnr lnr-question-circle mr-2"></span>Support</a>
			</li>
		</ul>
	</nav>
</div>