<!--  ------------------------------------------- --

		This file is only for popup designs

----------------------------------------------- -->


<!-- popup for RECIVE money -->
	<div class="modal fade money-receive" id="receive-money">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content  py-4">
				<div class="modal-body">
					<h4 class="mb-5">RECEIVE BITCOIN</h4>

					<div class="amount d-flex align-items-center justify-content-between">
						<h6>AMOUNT</h6>
						<h6 class="d-flex align-items-center">
						<input class="form-control"  type="number" name="amount" placeholder="Amount" style="direction: rtl;"> |mBTC</h6>
					</div>
					<hr>
					<div class="recipent-address d-flex align-items-center justify-content-between">
						<h6>RECIPENT BITCOIN ADDRESS</h6>
						<h6>
						<input class="form-control" type="text" name="amount" placeholder="Bitcoin address" style="direction: rtl;"></h6>
					</div>
					<hr>
					<div class="debit-account d-flex justify-content-between">
						<h6>ACCOUNT TO CREDIT</h6>
						<h6>
						<select class="form-control">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select></h6>
					</div>
					<div class="qr-code text-center">
						<img class="w-25" src="images/qr-code.svg">
					</div>
				</div>
				<div class="modal-footer d-block d-sm-flex justify-content-between text-center">
					<button type="button" class="btn btn-default choose-btn position-relative mb-4 mb-sm-4" ><span class="lnr lnr-camera"></span><input type="file" name="pic" accept="image/*"></button>
					<div class="rgt-btn">
						<button type="button" class="btn btn-default mr-3" data-dismiss="modal">CANCEL</button>
						<button type="button" class="btn btn-primary">RECEIVE</button>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end popup for RECIVE money -->


<!-- popup for setting -->
	<div class="modal fade settings" id="settings">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content  py-4">
				<div class="modal-body">
					<h4 class="mb-5">SETTINGS</h4>
					<div class="card mb-5">
						<div class="card-header">
							UNITS
						</div>
						<div class="card-body d-block d-sm-flex justify-content-between">
							<h6>Bitcoin Unit</h6>
							<div class="d-flex justify-content-between">
								<button type="button" class="btn btn-sm btn-default">BTC</button>
								<button type="button" class="btn btn-sm btn-primary mx-2">mBTC</button>
								<button type="button" class="btn btn-sm btn-default">bits</button>
							</div>
						</div>
					</div>

					<div class="card mb-5">
						<div class="card-header d-flex align-items-center justify-content-between">
							COUNTERVALUE
							<label class="switch m-0">
							  <input type="checkbox" checked>
							  <span class="slider round"></span>
							</label>
						</div>
						<div class="card-body d-flex justify-content-between">
							<h6>Countervalue</h6>
							<h6>
								<select class="form-control">
									<option>EURO</option>
									<option>USD</option>
									<option>INR</option>
								</select>
							</h6>
						</div>
					</div>

					<div class="card mb-5">
						<div class="card-header">
							LANGUAGE & REGION
						</div>
						<div class="card-body d-flex justify-content-between">
							<h6>Interface Language</h6>
							<h6>
								<select class="form-control">
									<option>English</option>
									<option>Chinese</option>
									<option>Japanese</option>
								</select>
							</h6>
						</div>
						<div class="card-body d-flex justify-content-between">
							<h6>Region</h6>
							<h6>
								<select class="form-control">
									<option>India</option>
									<option>USA</option>
									<option>Japan</option>
									<option>China</option>
								</select>
							</h6>
						</div>
					</div>
						<button type="button" class="btn btn-default mr-3" data-dismiss="modal">CANCEL</button>
				</div>
			</div>
		</div>
	</div>
<!-- end popup for setting 